html, body {
    height: 100%;
}

.bg {
    position: relative;
    /* The image used */
    background-image: url("background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}

.bg-btn, .bg-btn:visited, .bg-btn:active {
    position: relative;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    max-width: 80%;
    height: 15%;
    max-height: 15%;

    background-color: #111;
    opacity: 0.75;

    font-size: 60px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom: 40px;
    padding-top: 15px;

    border: 3px solid white;
    border-radius: 5px;

    cursor: pointer;
    display: block;
}

.bg-btn:hover {
    background-color: rgba(110, 110, 114, 0.9);
    transition: 0.7s;
    text-decoration: none;
}

.bg-black {
    background-color: #000;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-brand {
    padding: 6px 20px;
    font-size: 16px;
}

.nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
}

.nav-item.active {
    background-color: #9E9E9E;
}

.nav-item:hover {
    background-color: #9E9E9E;
}

.nav-link {
    padding: 5px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.fa {
    padding-right: 10px;
}

.dropdown-toggle {
    color: gray;
    padding: 3px 10px;
    position: absolute;
}

.dropdown-toggle:hover {
    color: #fff;
}

.dropdown-menu {
    margin-left: 15px;
    width: 120px;
    margin-top: 0px;
}

.dropdown-item:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }
}

.mt-50 {
    margin-top: 50px;
}

.table-elipse {
  cursor: pointer;
}

#data {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #ffffff;
  border-bottom: 5px solid transparent;
  /*background-color: gold;*/
  background-clip: padding-box;
  cursor: pointer;
}

.row-child {
  background-color: #000;
  color: #fff;
}

.mt-100 {
    margin-top: 100px !important;
}

.fa-trash {
    color: red;
}

.fa-square-plus {
    color: green;
}
