{% extends 'base.html' %}
{% block content %}
    <div class="mt-50">
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12" colspan="5">Name</th>
            </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="{% if user.is_superuser %} col-10 {% else %} col-11 {% endif %}">{{ game.name }}</td>
                    <td class="col-05 text-right">
                        <a title="create" href="{{ game.get_create_url }}"><span class="fa fa-square-plus"></span></a>
                    </td>
                    {% if user.is_superuser %}
                        <td class="col-05 text-right">
                            <a title="edit" href="{{ game.get_update_url }}"><span class="fa fa-pen-to-square"></span></a>
                        </td>
                        <td class="col-05 text-right">
                            <a title="delete" href="{{ game.get_delete_url }}"><span class="fa fa-trash"></span></a>
                        </td>
                    {% endif %}
                    <td class="col-05 text-right">
                        <a title="back to list" href="{% url 'games-list' %}"><span class="fa fa-right-from-bracket"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12">Rule set</th>
            </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="col-12">{{ game.rule_set }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
                <td class="col-12 text-justify">{{ game.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
