{% extends 'base.html' %}
{% block content %}
    <div class="mt-50">
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12" colspan="5">Name</th>
            </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="{% if talent.author.id == user.id %} col-10 {% else %} col-11 {% endif %}">{{ talent.name }}</td>
                    <td class="col-05 text-right">
                        <a title="create" href="{{ talent.get_create_url }}"><span class="fa fa-square-plus"></span></a>
                    </td>
                    {% if talent.author.id == user.id %}
                        <td class="col-05 text-right">
                            <a title="edit" href="{{ talent.get_update_url }}"><span class="fa fa-pen-to-square"></span></a>
                        </td>
                        <td class="col-05 text-right">
                            <a title="delete" href="{{ talent.get_delete_url }}"><span class="fa fa-trash"></span></a>
                        </td>
                    {% endif %}
                    <td class="col-05 text-right">
                        <a title="back to list" href="{% url 'talent-list' %}"><span class="fa fa-right-from-bracket"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
                <td class="col-12 text-justify">{{ talent.description }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12">Tests (characteristics)</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
                <td class="col-12 text-justify">{{ talent.tests }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12">Bonus when maxed</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
                <td class="col-12 text-justify">{{ talent.bonus_when_maxed }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-12">Level</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
                <td class="col-12 text-justify">{{ talent.level }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
